<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>Facebook div</Title>
    <Author>John Daley</Author>
    <Shortcut>fbdiv</Shortcut>
    <Description>Required div element for Facebook apps</Description>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>      
    </SnippetTypes>
  </Header>
  <Snippet>
    <Code Language="html"><![CDATA[<div id="fb-root"></div>$end$]]></Code>
  </Snippet>
</CodeSnippet>